
.cormorant-bold {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Cormorant', serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/background_login.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 55%;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 25px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
}

input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
