<div th:fragment="rodape" class="rodape">
      <div class="servicos">
        <p>Serviços</p>
        <a th:href="@{/perfil}">Conta</a>
        <a th:href="@{/carrinho}">Carrinho</a>
        <a th:href="@{/colecoes}">Coleções</a>
        <a th:href="@{/}">Pagina Inicial</a>
      </div>
      <div class="suporte">
        <p>Suporte ao Cliente</p>
        <a th:href="@{/suporte}">Suporte</a>
      </div>
      <div class="termos">
        <p>Termos Legais</p>
        <a href="#">Termos e Condições legais</a>
        <a href="#">Politicas de Privacidade</a>
        <a href="#">Preferencias de Cookie</a>
        <a href="#">Condições gerais de venda</a>
      </div>
</div>