<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <title>Pi Z - Home</title>

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap"
    rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!-- CSS -->
  <link rel="stylesheet" href="/css/home.css" />

</head>

<body style="background-color: #FAFAFA;">

  <header>
    <nav class="navbar bg-light fixed-top shadow-sm w-100 p-1">
      <div class="container-fluid d-flex flex-column flex-md-row align-items-start align-items-md-center">

        <!-- Parte de cima: Logo + Botão Hamburguer + Ícone perfil -->
        <div class="d-flex justify-content-between w-100 align-items-center mb-2 mb-md-0">

          <!-- Botão Hamburguer -->
          <button class="navbar-toggler border-0 p-1" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>

          <!-- Logo e Título -->
          <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
            <img src="../img/logo_PiZ.png" alt="Logotipo da Pi Z" class="img-fluid" style="max-width: 35px;">
            <p class="cormorant-bold mb-0 ms-2" style="font-size: 25px;">Pi Z</p>
          </a>

          <!-- Ícone do carrinho e Ícone de perfil-->
          <div class="d-flex align-items-center justify-content-center p-1">
            <a th:href="@{/carrinho}" class="d-flex align-items-center justify-content-center p-1">
              <img src="../img/cart_icon.png" alt="Ícone de perfil" class=" img-fluid" style="max-width: 30px;">
            </a>
            <a th:href="@{/login}" class="rounded-circle  border d-flex align-items-center justify-content-center p-1">
              <img src="../img/user_icon.png" alt="Ícone de perfil" class="img-fluid" style="max-width: 30px;">
            </a>
          </div>


        </div>

        <!-- Barra de Pesquisa -->
        <form class="w-100 p-1">
          <div class="input-group">
            <!-- Input com borda arredondada à esquerda -->
            <input type="text" class="form-control rounded-start-pill"
              placeholder="Que tipo de pisada você quer dar hoje?">

            <!-- Botão da lupa -->
            <button class="btn btn-outline-secondary" type="button">
              <img src="../img/Search_icon.png" alt="Pesquisar" style="width: 20px; height: 20px;">
            </button>

            <!-- Botão da câmera -->
            <button class="btn btn-outline-secondary rounded-end-pill" type="button">
              <img src="../img/camera_icon.png" alt="Pesquisar por imagem" style="width: 20px; height: 20px;">
            </button>
          </div>

        </form>

        <!-- Itens colapsáveis (opcional, se quiser o menu escondido em mobile) -->
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0 d-flex gap-3 me-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/}">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/colecoes}">Coleções</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/suporte}">Suporte</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </header>

  <section class="container-fluid d-flex flex-column pt-5 ps-0 pe-0">
    <div class="home-bg d-flex flex-column justify-content-center align-items-center pt-5" style="height: 250px;">
      <h1 class="cormorant-italic">Bem vindo a Pi Z</h1>
      <h2>O melhor e-commerce de sapatos do Brasil</h2>
    </div>

    <div class="container d-flex justify-content-start align-items-center gap-2 m-4">
      <img src="../img/fogo_icon.png" alt="Icone em alta" class="img-fluid" style="width: 40px; height: 40px;">
      <h2 class="cormorant-bold" style="margin-bottom: 0;">Em alta</h2>
    </div>

    <section>
      <div class="container" style="padding-bottom: 3rem; max-width: 100%;">
        <div class="swiper mySwiper">

          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card card-produto">
                <img
                  src="https://www.carmensteffens.com.br/ccstore/v1/images/?source=/file/v753252716305426997/products/6504399001B.calcado-brilhofrontview.jpg&height=940&width=940"
                  class="card-img-top img-produto" alt="Calçado feminino">
                <div class="card-body">
                  <h5 class="card-title titulo-produto">Coleção Z</h5>
                  <p class="card-text descricao-produto">Sandália Preta com Laço Bordado de Cristais </p>
                  <p class="card-text preco-produto"><strong>R$999,90</strong></p>
                  <div class="rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <div class="d-flex gap-2">
                    <button class="btn btn-outline-not btn-sm">Indisponivel</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card-produto">
                <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
                <div class="card-body">
                  <h5 class="card-title titulo-produto">Coleção Z</h5>
                  <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
                  <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
                  <div class="rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <div class="d-flex gap-2">
                    <button class="btn btn-outline-primary btn-sm">Adicionar</button>
                    <button class="btn btn-primary btn-sm">Comprar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card-produto">
                <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
                <div class="card-body">
                  <h5 class="card-title titulo-produto">Coleção Z</h5>
                  <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
                  <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
                  <div class="rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <div class="d-flex gap-2">
                    <button class="btn btn-outline-primary btn-sm">Adicionar</button>
                    <button class="btn btn-primary btn-sm">Comprar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card-produto">
                <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
                <div class="card-body">
                  <h5 class="card-title titulo-produto">Coleção Z</h5>
                  <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
                  <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
                  <div class="rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <div class="d-flex gap-2">
                    <button class="btn btn-outline-primary btn-sm">Adicionar</button>
                    <button class="btn btn-primary btn-sm">Comprar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card-produto">
                <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
                <div class="card-body">
                  <h5 class="card-title titulo-produto">Coleção Z</h5>
                  <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
                  <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
                  <div class="rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <div class="d-flex gap-2">
                    <button class="btn btn-outline-primary btn-sm">Adicionar</button>
                    <button class="btn btn-primary btn-sm">Comprar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>

        </div>
      </div>
    </section>

    <div class="container d-flex justify-content-start align-items-center gap-2 m-4">
      <img src="../img/estrela_icon.png" alt="Icone em alta" class="img-fluid" style="width: 40px; height: 40px;">
      <h2 class="cormorant-bold" style="margin-bottom: 0;">Para Você</h2>
    </div>

    <section>
      <div class="container d-flex justify-content-center align-items-center gap-5 ms-5 mb-4 flex-wrap">

        <!-- Listagem Sapatos -->
        <div class="card card-produto">
          <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
          <div class="card-body">
            <h5 class="card-title titulo-produto">Coleção Z</h5>
            <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
            <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
            <div class="rating mb-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="d-flex gap-2">
              <button class="btn btn-outline-primary btn-sm">Adicionar</button>
              <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card card-produto">
          <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
          <div class="card-body">
            <h5 class="card-title titulo-produto">Coleção Z</h5>
            <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
            <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
            <div class="rating mb-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="d-flex gap-2">
              <button class="btn btn-outline-primary btn-sm">Adicionar</button>
              <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card card-produto">
          <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
          <div class="card-body">
            <h5 class="card-title titulo-produto">Coleção Z</h5>
            <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
            <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
            <div class="rating mb-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="d-flex gap-2">
              <button class="btn btn-outline-primary btn-sm">Adicionar</button>
              <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card card-produto">
          <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
          <div class="card-body">
            <h5 class="card-title titulo-produto">Coleção Z</h5>
            <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
            <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
            <div class="rating mb-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="d-flex gap-2">
              <button class="btn btn-outline-primary btn-sm">Adicionar</button>
              <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card card-produto">
          <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
          <div class="card-body">
            <h5 class="card-title titulo-produto">Coleção Z</h5>
            <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
            <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
            <div class="rating mb-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="d-flex gap-2">
              <button class="btn btn-outline-primary btn-sm">Adicionar</button>
              <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card card-produto">
          <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
          <div class="card-body">
            <h5 class="card-title titulo-produto">Coleção Z</h5>
            <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
            <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
            <div class="rating mb-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="d-flex gap-2">
              <button class="btn btn-outline-primary btn-sm">Adicionar</button>
              <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card card-produto">
          <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
          <div class="card-body">
            <h5 class="card-title titulo-produto">Coleção Z</h5>
            <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
            <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
            <div class="rating mb-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="d-flex gap-2">
              <button class="btn btn-outline-primary btn-sm">Adicionar</button>
              <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card card-produto">
          <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
          <div class="card-body">
            <h5 class="card-title titulo-produto">Coleção Z</h5>
            <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
            <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
            <div class="rating mb-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="d-flex gap-2">
              <button class="btn btn-outline-primary btn-sm">Adicionar</button>
              <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card card-produto">
          <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
          <div class="card-body">
            <h5 class="card-title titulo-produto">Coleção Z</h5>
            <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
            <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
            <div class="rating mb-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="d-flex gap-2">
              <button class="btn btn-outline-primary btn-sm">Adicionar</button>
              <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card card-produto">
          <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
          <div class="card-body">
            <h5 class="card-title titulo-produto">Coleção Z</h5>
            <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
            <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
            <div class="rating mb-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="d-flex gap-2">
              <button class="btn btn-outline-primary btn-sm">Adicionar</button>
              <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card card-produto">
          <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
          <div class="card-body">
            <h5 class="card-title titulo-produto">Coleção Z</h5>
            <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
            <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
            <div class="rating mb-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="d-flex gap-2">
              <button class="btn btn-outline-primary btn-sm">Adicionar</button>
              <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
          </div>
        </div>
        <div class="card card-produto">
          <img src="../img/calcado_exemplo.png" class="card-img-top img-produto" alt="Calçado feminino">
          <div class="card-body">
            <h5 class="card-title titulo-produto">Coleção Z</h5>
            <p class="card-text descricao-produto">Sandalia Vizzano Salto Alto Fino</p>
            <p class="card-text preco-produto"><strong>R$129,99 ou 10x de 12,99</strong></p>
            <div class="rating mb-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <div class="d-flex gap-2">
              <button class="btn btn-outline-primary btn-sm">Adicionar</button>
              <button class="btn btn-primary btn-sm">Comprar</button>
            </div>
          </div>
        </div>
        <!-- Fim Listagem-->
      </div>
    </section>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        new Swiper('.mySwiper', {
          slidesPerView: 3,  // Exibir 3 cards ao mesmo tempo
          spaceBetween: 20,  // Espaço entre os cards
          loop: true,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          observer: true,
          observeParents: true,
          breakpoints: {
            600: {
              slidesPerView: 2,
            },
            1024: {
              slidesPerView: 4,
            },
          },
        });
      });
    </script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <footer>
      <div class="rodape">
        <div class="servicos">
          <p>Serviços</p>
          <a href="../html/login.html">Conta</a>
          <a href="../html/carrinho.html">Carrinho</a>
          <a href="../html/colecoes.html">Coleções</a>
        </div>
        <div class="suporte">
          <p>Suporte ao Cliente</p>
          <a href="../html/suporte.html">Suporte</a>
        </div>
        <div class="termos">
          <p>Termos Legais</p>
          <a href="#">Termos e Condições legais</a>
          <a href="#">Politicas de Privacidade</a>
          <a href="#">Preferencias de Cookie</a>
          <a href="#">Condições gerais de venda</a>
        </div>
      </div>
    </footer>
</body>